.Card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  padding: 20px;
  
  z-index: 100;
}
.closeIcon {
  cursor: pointer;
  font-size: 3rem;
  position: relative;
  top: 40%;
  left:90%;
  margin-bottom: -20px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content label {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 110px;
  align-self:self-start;
  padding: 5px;
}

.icon {
  margin-right: 10px;
}

input {
  
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.actions {
  text-align: center;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    
    
    position: fixed;
    top: 25vh;
    left: 30%;
    width: 40%;
    z-index: 100;
    overflow: hidden;
  }
  h1{
    position: relative;
    bottom: 10%;
    margin-bottom: 13px;
  }
  .signInButton {
    
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60%;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .signInButton:hover {
    background-color: tomato;
    transform: scale(1.05);
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  